<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-css-layout style-name="v-component-group" width-full>
   <vaadin-button icon="fonticon://Vaadin-Icons/e69a" width="50px" plain-text _id="removeBillBtn"></vaadin-button>
   <vaadin-text-field placeholder="Tên hóa đơn" width="300px" _id="billNameTf"></vaadin-text-field>
   <vaadin-text-field placeholder="Thuế" width="200px" _id="billTaxTf"></vaadin-text-field>
   <vaadin-text-field placeholder="Chi phí không thuế" width="200px" _id="billNoTaxCostTf"></vaadin-text-field>
  </vaadin-css-layout>
 </body>
</html>