<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-horizontal-layout style-name="header" width-full height="25px">
    <vaadin-label caption="THÔNG TIN GROUP" width-full plain-text :expand></vaadin-label>
   </vaadin-horizontal-layout>
   <vaadin-vertical-layout margin="false">
    <vaadin-text-field icon="fonticon://Vaadin-Icons/e60e" style-name="inline-icon" placeholder="Tên group
" width="300px"></vaadin-text-field>
    <vaadin-text-field icon="fonticon://Vaadin-Icons/e61b" style-name="inline-icon" placeholder="Mã leader
" width="300px"></vaadin-text-field>
    <vaadin-text-field icon="fonticon://Vaadin-Icons/e962" style-name="inline-icon" placeholder="Mã nhân viên kế toán" width="300px"></vaadin-text-field>
   </vaadin-vertical-layout>
   <vaadin-horizontal-layout>
    <vaadin-button width="100px" plain-text>
      OK 
    </vaadin-button>
    <vaadin-button width="100px" plain-text>
      CANCEL 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>